@import "typography.css";

/* RESET CSS */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, menu {margin:0px; padding:0px;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-style: normal;}
ol, ul{list-style: none; }
table {border-collapse: collapse; border-spacing: 0px;}
img, fieldset{border: none;}

/* General */

body {font: 13px/24px "Helvetica Neue", Arial, sans-serif; color: #444; background: #f8f7f5;}
h1 {font: 60px/50px 'Georgia', Impact, Helvetica Neue, sans-serif; letter-spacing: 1px; margin-bottom: 10px; text-transform: uppercase; font-weight:bold;}
h2 {font: 30px/20px 'LeagueGothicRegular', Impact, Helvetica Neue, sans-serif; letter-spacing: 1px; margin-bottom: 10px; color: #7c8d9b}
#experience h2{margin-bottom:40px;}
h3 {font: 30px/20px 'LeagueGothicRegular', Impact, Helvetica Neue, sans-serif; letter-spacing: 1px; margin-bottom: 20px; text-transform: uppercase;}
p{margin-bottom: 10px;}
a, a:visited{color: #11ADBC; text-decoration: none;}
a:hover{color: #7c8d9b; text-decoration: none;}
cite{display: block; font-family: Verdana; font-size: 9px; font-style: normal; letter-spacing: 1px; margin:-10px 0 10px 0;text-transform: uppercase;}

/* Structure */

#wrap{position: relative; margin:0px auto;width:900px; padding: 40px 100px 100px 100px; }

/* Navigation */

#navigation{width: 890px; clear: both; padding: 5px; background: #393939; margin: 40px 0px 40px 0px; 
            -moz-border-radius-topleft:4px;  -webkit-border-top-left-radius:4px;
            -moz-border-radius-topright:4px; -webkit-border-top-right-radius:4px;
            -moz-border-radius-bottomleft:4px; -webkit-border-bottom-left-radius:4px;
            -moz-border-radius-bottomright:4px; -webkit-border-bottom-right-radius:4px;
}
	#navigation h1.title{float: left; padding: 5px 0 5px 0px; margin-bottom: 0px;}
	#navigation ul li{display: inline;}
	#navigation ul li a, #navigation ul li a:visited, #navigation ul li a:hover{padding: 5px 10px 5px 10px;
            -moz-border-radius-topleft:4px;  -webkit-border-top-left-radius:4px;
            -moz-border-radius-topright:4px; -webkit-border-top-right-radius:4px;
            -moz-border-radius-bottomleft:4px; -webkit-border-bottom-left-radius:4px;
            -moz-border-radius-bottomright:4px; -webkit-border-bottom-right-radius:4px;
	        border:solid 1px #393939;}
	
#navigation ul li a:hover, a.tab.active, a.tab.active:hover{background: rgba(155, 151, 109, 0.1); border:solid 1px #777; color:#777;}
	
/* Content */

.content{position: relative; width: 900px; margin-bottom: 20px;}
	.col{position: relative; width: 250px; padding-right: 50px; float: left; margin-bottom: 50px; text-align:justify;}
		
	.coltree{position: relative; width: 300px; float: left; margin-bottom: 50px;}
	
	.twocol{position: relative; width: 550px; padding-right: 50px; float: left; margin-bottom: 50px;}
	
	.col .button-prev, .col .button-next {border: 1px solid rgba(155, 151, 109, 0.2); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;}
	.col .button-prev {background: rgba(155, 151, 109, 0.1) url(../img/prev.png) no-repeat 0 50%; padding: 3px 14px 3px 20px;}
	.col .button-next {background: rgba(155, 151, 109, 0.1) url(../img/next.png) no-repeat 100% 50%; padding: 3px 20px 3px 14px;}
	
	ul.hr{border-bottom: 1px solid #dddddd; margin-bottom: 12px;}
	ul.hr li{border-top: 1px solid #dddddd; padding: 10px 0 10px 0;}
	
	.content .img-border img, #sub-content img, #slideshow{ -moz-box-shadow: 0px 0px 2px #333333; -webkit-box-shadow: 0px 0px 2px #333333; box-shadow: 0px 0px 2px #333333; margin-bottom: 20px;}
	.img-right{float:right; margin: 20px 0px 20px 20px; -moz-box-shadow: 0px 0px 2px #333333; -webkit-box-shadow: 0px 0px 2px #333333; box-shadow: 0px 0px 2px #333333;}
	
	ul.nav{position: absolute; top:0px; right: 0px;}
		
	#slideshow{list-style:none; background: #f8f7f5; position: relative; width: 550px; float: left; margin:0 0 20px 50px; overflow:hidden;}
	#slideshow li span.caption{float:left; margin-left:2px;}
	.pics{overflow:hidden; width:550px; height:550px;}
	.pics img{width:550px; margin-bottom:-2px;}
	
		
/* Footer */

#footer{position: relative; margin-top: 50px; padding: 20px 0 110px 0; width: 900px; clear: both; border-top: 10px solid #393939;text-align:right;}
	#footer .col{position: relative; width: 200px; padding-right:25px; float: left; margin-bottom: 50px;}
	#footer .col address{width: 140px; font-style: normal;}
	
#about, #skills, #experience, #contact
{
    display:none;}
    

#contactDetails li
{
    margin:20px;
    width:200px;
    height:60px;
    }    
#contactDetails li a
{
    width:100px;
    height:50px;
    padding:25px;
    padding-left:80px;
    }
#email, #facebook, #linkedin
{
    }
#mobile
{
    padding-left:80px;
    }
#email {background: url(../img/google.png); background-repeat:no-repeat;}
#facebook {background: url(../img/facebook.png); background-repeat:no-repeat;}
#linkedin {background: url(../img/linkedin.png); background-repeat:no-repeat;}

.entry{margin-bottom:40px;}
.entry h3{
  font-size: 2.1em;
  font-family: Georgia;
  letter-spacing: 0.1em;
  color: rgb(142,11,0);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
  line-height:28px;
}
.entry h3 span{
  display: block;
  margin-top: 0.5em;
  font-family: Verdana;
  font-size: 0.4em;
  font-weight: normal;
  letter-spacing: 0em;
  text-shadow: none;
}
.entry .meta{
  font-family: Georgia;
  color: rgba(69,54,37,0.6);
  font-size: 0.85em;
  font-style: italic;
  letter-spacing: 0.25em;
  border-bottom: 1px solid rgba(69,54,37,0.2);
  padding-bottom: 0.5em;
}
.entry .meta span{
  text-transform: capitalize;
  font-style: normal;
  color: rgba(69,54,37,0.8);
}
.entry p{
  font-family: Verdana;
  line-height: 1.5em;
  color: rgb(69,54,37);
}

.entry p.first, #home .entry p.first, #about .entry p.first{
  font-size: 1.25em;
  font-family: Georgia;
  font-style: italic;
  letter-spacing: 0.1em;
}
.entry p.first:first-line{
  font-weight: bold;
}
.entry date{
  font-family: Georgia;
  color: rgba(69,54,37,0.6);
  font-size: 0.75em;
  font-style: italic;
  letter-spacing: 0.25em;
  border-top: 1px solid rgba(69,54,37,0.2);
  display: block;
  padding-top: 0.5em;
  margin-top: 2em;
}